/* top level CSS for Painter 2018 */

v\:* { behavior: url(#default#VML);}
body,table,tr,td,input {
	font-family: Segoe UI, Arial, sans-serif;
	font-size:12px;
	color: white;
	margin:0;
	padding:0;
}
body {
	overflow:auto;
	background:#474747;
}
select {
	font-size:1em;
}
.static {
	overflow:hidden;
}
image, img {
	border: 0;
	padding: 0;
	margin: 0;
}
p, li  {
	font-size: 1em; /* 12px */

	font-weight: normal;
}
p, ul, h1, h2 {
	margin-top: 0.833em; /* 10px */
	margin-bottom: 0.833em; /* 10px */
}
input {
	font-size: 1.083em; /* 13px */
	vertical-align: middle;
	padding: 0.167em; /* 2px */
	color: black;
}
input[type=text] {
	background-color: #999999;
}
button {
	font-family: Segoe UI, Arial, sans-serif;
	font-size:1em; /* 12px */
	height: 1.667em; /* 20px */
	margin-left:0.417em; /* 5px */
	margin-right:0.417em; /* 5px */
}
h1 {
	font-size: 1.167em; /* 14px */
	font-weight: bold;
}
h2  {
	font-size: 1.083em; /* 13px */
	font-style: italic;
}
.subheading {
	font-weight: bold;
}

/*	workflow dialog container */
.OuterContainer {
	height: 42.000em; /* 504px */
	width: 57.083em; /* 685px */
	padding: 0;
	margin: 0.417em; /* 5px */
	overflow: hidden;
}

/* top banner and trial counter */
.BannerStyle {
	width:100%;
	height:4.583em; /* 55px */
	display:block;
	padding: 0;
}
.BannerImg, #img1 {
	margin-top: 0.583em; /* 7px */
	width: 57.083em; /* 685px */
	height:4.583em; /* 55px */
}
#divTrialRemainCounter {
	position: absolute;
	right: 1.667em; /* 20px */
	top: 1.333em; /* 16px */
}
#divCountOnBanner {
	font-weight:bold;
	font-size:2.500em; /* 30px */
	text-align:center;
}
#divTrialCounterSpace {
	width:0.417em; /* 5px */
}
#divDaysLeftOnBanner {
	font-size:1.167em; /* 14px */
	text-align:center;
	color:#E2E2E2;
}
.topclosediv {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.250em; /* 27px */
	height: 4.583em; /* 55px */
	text-align: center;
}
.topclosediv img {
	margin-top: 0.333em; /* 4px */
	width: 1.667em; /* 20px */
	cursor: hand;
	cursor: pointer;
}

/* main message body */
tr#message  td,iframe{
	width:100%;
	height:100%;
}
tr#message  iframe{
	margin:0;
	padding:0;
	border:0;
}

/* progress bar */
#tdProgress {
	height: 1.083em; /* 13px */
}
#tdProgress td {
	padding-bottom: 0.167em; /* 2px */
}
#divUnderSlider {
	background-image:url('Images/TrialCounter/grey_bkg.gif');
	height: 1.083em; /* 13px */
	margin-left: 0.250em; /* 3px */
	margin-right: 0.250em; /* 3px */
	margin-bottom: 0.250em; /* 3px */
	width: 100%;
}
#divOverSlider {
	overflow:hidden;
	padding:0;
	margin:0;
	width:0px;
	height: 1.083em; /* 13px */
}
.buttonBar {
	font-size:1em; /* 12px */
	padding: 0 0.750em; /* 9px */
	color: black;
	margin:0;
}
.buttonBar select, #ButtonBar select {
	color: black;
}
label.buttonBar {
	color: white;
}

/* Download/Installation CSS*/

/* this is the equivalent of the outercontainer for DIM dialogs */
#bannercentercentertable {
	width: 57.083em; /* 685px */
    height: 21.333em; /* 256px */
	padding: 0;
	margin: 0.417em; /* 5px */
}
table#bannercentercentertable input {
	float:right;
	margin-right: 0.333em; /* 4px */
	width:5.250em; /* 63px */
}
.dimbottomcell {
	padding-top: 2.500em; /* 30px */
}
table#bannercentercentertable a {
	font-size: 1.167em; /* 14px */
	color: white;
}

/* install/download dialog */
.dlgdescription {
    font-size: 1.333em; /* 16px */
    font-weight: bold;
}
.tdDownload {
	height: 5.583em; /* 67px */
}
td.tdDownload div {
	height: 4.750em; /* 57px */
	overflow: auto;
}
.downloadingtext {
	padding-left: 0.417em; /* 5px */
	color: white;
	font-size: 1.167em; /* 14px */
}

/* small DIM dialogs (cancel download,check for updates,no updates) */
body.smalldim table {
	height: 10.833em; /* 130px */
	width: 28.333em; /* 340px */
	margin: 0.417em; /* 5px */
	text-align: center;
}
body.smalldim p {
	font-size: 1em; /* 12px */
}
body.smalldim input {
	margin-right:0.417em; /* 5px */
	width:6.250em; /* 75px */
	font-size:1.167em; /* 14px */
}

/* general */
.workflowbutton {
	cursor: pointer;
	color: #FFFFFF;
	border: 0;
	margin: 0;
	background-color: #16AE97;
	height: 2.250em; /* 27px */
}
#error_msg {
	margin-top: 1.250em; /* 15px */
}
div#error_msg td {
	color: red;
}

/* opt in opt out */
.msgprefs {
	background-color: #E8E8E8;
	color: black;
}
body.msgprefs a {
	color: blue;
}
#optbackground {
	width:51em; /* 612px */
	padding: 0.833em; /* 10px */
	margin: 0.833em; /* 10px */
}
#optcontentupper {
	padding-bottom: 1.667em; /* 20px */
	border-bottom: solid 0.083em #AAAAAA; /* 1px */
}
#optcontentlower {
	margin:0;
	padding:0.667em 0 0 0; /* 8px */
}
#optprivacy {
	float: left;
}
#optbuttons {
	float: right;
}
div#optbuttons input {
	width: 6.250em; /* 75px */
}
#allmsgs, #autoupdates {
	padding-left: 0.750em; /* 9px */
}
#cuhopt {
	margin-bottom: -0.167em; /* -2px */
}
a.httplinktext {
    text-decoration: underline;
    color: blue;
    cursor: hand;
}