body {
	margin: 0;
	overflow:hidden;
	font-family: Verdana;
	font-size: 11px;
	background-color: #dbd9db;
}

.MessageBody {
	overflow:hidden;
	border-style:none;
}

#message {
	font-size: 1em;
}

.bottomarea {
	height: 6.364em;
	vertical-align: middle;
}

.bottomarea td {
	padding: 0.364em;
}

.bottomarea_left {
	width: 67%;
}

#dontdisplay {
	float: left;
}

.bottomarea_right {
	width: 33%;
	text-align: right;
}

.bottomarea_right button {
	padding: 0.273em;
	margin-right: 0.455em;
}